openapi: 3.2.0
info:
  title: Sweep Documentation Salesforce API
  description: This is a publicly available Sweep API.
  version: '0.1'
  contact: {}
servers:
- url: https://api.sweep.io
  description: Sweep production API — the host this document was harvested from (GET /api-json); /health responds here
tags:
- name: Documentation Salesforce
paths:
  /documentation-salesforce/{crmOrgId}:
    get:
      operationId: DocumentationSalesforceController_getDocumentationData
      parameters:
      - name: crmOrgId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/{crmOrgId}/objects:
    get:
      operationId: DocumentationSalesforceController_getObjectTypes
      parameters:
      - name: crmOrgId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/{crmOrgId}/objects/{objectName}:
    post:
      operationId: DocumentationSalesforceController_createObjectDocumentation
      parameters:
      - name: crmOrgId
        required: true
        in: path
        schema:
          type: string
      - name: objectName
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentationObjectDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
    patch:
      operationId: DocumentationSalesforceController_toggleObjectFavorite
      parameters:
      - name: crmOrgId
        required: true
        in: path
        schema:
          type: string
      - name: objectName
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentationObjectDto'
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/{crmOrgId}/metadataTypes:
    get:
      operationId: DocumentationSalesforceController_getMetadataTypes
      parameters:
      - name: crmOrgId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/{crmOrgId}/metadataTypes/{metadataTypeName}:
    get:
      operationId: DocumentationSalesforceController_getMetadata
      parameters:
      - name: crmOrgId
        required: true
        in: path
        schema:
          type: string
      - name: metadataTypeName
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/{crmOrgId}/layouts/{metadataId}:
    get:
      operationId: DocumentationSalesforceController_getLayoutProperties
      parameters:
      - name: crmOrgId
        required: true
        in: path
        schema:
          type: string
      - name: metadataId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/{crmOrgId}/ai-chat:
    post:
      operationId: DocumentationSalesforceController_createAiDocumentationChat
      parameters:
      - name: crmOrgId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiChatDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/{crmOrgId}/generate-configuration-gpt:
    post:
      operationId: DocumentationSalesforceController_getConfigurationGpt
      parameters:
      - name: crmOrgId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalcParsedConfigurationGptDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/{crmOrgId}/configuration/dependencies:
    get:
      operationId: DocumentationSalesforceController_getConfigurationDependencies
      parameters:
      - name: crmOrgId
        required: true
        in: path
        schema:
          type: string
      - name: metadataId
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/{crmOrgId}/configuration/consumers:
    get:
      operationId: DocumentationSalesforceController_getConfigurationConsumers
      parameters:
      - name: crmOrgId
        required: true
        in: path
        schema:
          type: string
      - name: metadataId
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/{crmOrgId}/field-consumers:
    get:
      operationId: DocumentationSalesforceController_getFieldConsumers
      parameters:
      - name: crmOrgId
        required: true
        in: path
        schema:
          type: string
      - name: objectName
        required: true
        in: query
        schema:
          type: string
      - name: fieldName
        required: true
        in: query
        schema:
          type: string
      - name: activeOnly
        required: true
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/{crmOrgId}/search:
    get:
      operationId: DocumentationSalesforceController_getSearchResults
      parameters:
      - name: crmOrgId
        required: true
        in: path
        schema:
          type: string
      - name: searchText
        required: true
        in: query
        schema:
          type: string
      - name: metadataTypes
        required: true
        in: query
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/{crmOrgId}/search-content:
    get:
      operationId: DocumentationSalesforceController_getSearchContent
      parameters:
      - name: crmOrgId
        required: true
        in: path
        schema:
          type: string
      - name: searchText
        required: true
        in: query
        schema:
          type: string
      - name: metadataTypes
        required: true
        in: query
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/{crmOrgId}/nacl-file:
    get:
      operationId: DocumentationSalesforceController_getNaclFile
      parameters:
      - name: crmOrgId
        required: true
        in: path
        schema:
          type: string
      - name: metadataId
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: string
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/user-inputs/tags:
    get:
      operationId: DocumentationSalesforceController_getUserInputTags
      parameters:
      - name: crmOrgId
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
    post:
      operationId: DocumentationSalesforceController_createUserInputTag
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/user-inputs/tags/{tagId}:
    patch:
      operationId: DocumentationSalesforceController_editUserInputTag
      parameters:
      - name: tagId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditTagDto'
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
    delete:
      operationId: DocumentationSalesforceController_deleteUserInputTag
      parameters:
      - name: tagId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/user-inputs/users:
    get:
      operationId: DocumentationSalesforceController_getUserInputsUsersWithMetadataElements
      parameters:
      - name: crmOrgId
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/user-inputs/users/{userId}:
    delete:
      operationId: DocumentationSalesforceController_deleteUserInputUserConfigurations
      parameters:
      - name: userId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/user-inputs/{metadataId}:
    put:
      operationId: DocumentationSalesforceController_updateUserInputConfiguration
      parameters:
      - name: metadataId
        required: true
        in: path
        schema:
          type: string
      - name: crmOrgId
        required: true
        in: query
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConfigurationUserInputsDto'
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/user-inputs/{metadataId}/comments:
    get:
      operationId: DocumentationSalesforceController_getUserInputConfigurationComments
      parameters:
      - name: metadataId
        required: true
        in: path
        schema:
          type: string
      - name: crmOrgId
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConfigurationUserInputComment'
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
    post:
      operationId: DocumentationSalesforceController_createUserInputConfigurationComment
      parameters:
      - name: metadataId
        required: true
        in: path
        schema:
          type: string
      - name: crmOrgId
        required: true
        in: query
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertConfigurationCommentDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationUserInputComment'
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
  /documentation-salesforce/user-inputs/{metadataId}/comments/{commentId}:
    patch:
      operationId: DocumentationSalesforceController_editUserInputConfigurationComment
      parameters:
      - name: metadataId
        required: true
        in: path
        schema:
          type: string
      - name: commentId
        required: true
        in: path
        schema:
          type: string
      - name: crmOrgId
        required: true
        in: query
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertConfigurationCommentDto'
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
    delete:
      operationId: DocumentationSalesforceController_deleteUserInputConfigurationComment
      parameters:
      - name: metadataId
        required: true
        in: path
        schema:
          type: string
      - name: commentId
        required: true
        in: path
        schema:
          type: string
      - name: crmOrgId
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      tags:
      - Documentation Salesforce
components:
  schemas:
    SweepFieldReference:
      type: object
      properties:
        fieldIds:
          type: array
          items:
            type: string
        fieldSource:
          type: string
      required:
      - fieldIds
    UpsertConfigurationCommentDto:
      type: object
      properties:
        commentBody:
          type: string
        mentionedUserIds:
          type: array
          items:
            type: string
        properties:
          $ref: '#/components/schemas/ConfigurationCommentPropertiesDto'
      required:
      - commentBody
      - mentionedUserIds
      - properties
    FunnelDetailsDto:
      type: object
      properties:
        leadingObject:
          $ref: '#/components/schemas/LeadingObjectDto'
        stages:
          type: array
          items:
            $ref: '#/components/schemas/SweepStage'
        _firstStageId:
          type: string
        plugins:
          default: {}
          allOf:
          - $ref: '#/components/schemas/FunnelPluginsDto'
        funnelLinks:
          type: array
          items:
            $ref: '#/components/schemas/FunnelLinkDto'
        stageMetadata:
          type: array
          items:
            type: object
      required:
      - leadingObject
      - stages
      - plugins
    SweepAssignmentRule:
      type: object
      properties:
        assignmentId:
          type: string
        ruleName:
          type: string
        assignedTo:
          type: string
        assignedToType:
          type: string
        criteriaLogic:
          type: string
        criteria:
          type: array
          items:
            type: object
      required:
      - assignmentId
      - ruleName
      - assignedTo
      - assignedToType
      - criteriaLogic
      - criteria
    User:
      type: object
      properties:
        id:
          type: string
        sub:
          type: string
        email:
          type: string
        account:
          $ref: '#/components/schemas/Account'
        preferences:
          type: object
        name:
          type: string
        emoji:
          type: string
        imageUrl:
          type: string
        jobTitle:
          type: string
        roleGroup:
          $ref: '#/components/schemas/RoleGroup'
        roleGroupId:
          type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
        deletedAt:
          format: date-time
          type: string
        lastSeen:
          format: date-time
          type: string
      required:
      - id
      - sub
      - email
      - account
      - preferences
      - name
      - emoji
      - imageUrl
      - jobTitle
      - roleGroup
      - roleGroupId
      - createdAt
      - updatedAt
    SweepExitCriteria:
      type: object
      properties:
        _exitCriteriaId:
          type: string
        _nextStageId:
          type: string
        isAutoMoveToNextStage:
          type: boolean
        guidance:
          type: string
        criteria:
          type: array
          items:
            type: object
        criteriaLogic:
          type: string
      required:
      - _exitCriteriaId
      - criteria
      - criteriaLogic
    FunnelLinkDto:
      type: object
      properties:
        _id:
          type: string
        _type:
          type: string
          enum:
          - salesforce
          - thirdParty
          - recordType
          - hubspot
          - metadataElement
        funnelId:
          type: string
        stageId:
          type: string
      required:
      - _id
      - _type
      - funnelId
    FunnelSnapshot:
      type: object
      properties:
        id:
          type: string
        ord:
          type: number
        createdById:
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        apiName:
          type: string
        accountId:
          type: string
        account:
          $ref: '#/components/schemas/Account'
        name:
          type: string
        funnelName:
          type: string
        description:
          type: string
        recordTypeName:
          type: string
        restoredFromSnapshot:
          type: number
        funnelDetails:
          $ref: '#/components/schemas/FunnelDetailsDto'
        deployments:
          type: array
          items:
            $ref: '#/components/schemas/FunnelDeployment'
        createdAt:
          format: date-time
          type: string
      required:
      - id
      - ord
      - createdById
      - createdBy
      - apiName
      - accountId
      - account
      - name
      - funnelName
      - description
      - recordTypeName
      - restoredFromSnapshot
      - funnelDetails
      - deployments
      - createdAt
    RoleGroup:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: string
        account:
          $ref: '#/components/schemas/Account'
        type:
          type: string
          enum:
          - SYSTEM
          - USER_CREATED
        accountRoles:
          type: array
          items:
            $ref: '#/components/schemas/RoleGroupAccountRole'
        orgRoles:
          type: array
          items:
            $ref: '#/components/schemas/RoleGroupOrgRole'
        createdById:
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        createdAt:
          format: date-time
          type: string
        updatedById:
          type: string
        updatedBy:
          $ref: '#/components/schemas/User'
        updatedAt:
          format: date-time
          type: string
        name:
          type: string
        description:
          type: string
      required:
      - id
      - accountId
      - account
      - type
      - accountRoles
      - orgRoles
      - createdById
      - createdBy
      - createdAt
      - updatedById
      - updatedBy
      - updatedAt
      - name
    ConfigurationCommentPropertiesDto:
      type: object
      properties:
        pinned:
          type: boolean
      required:
      - pinned
    LeadingObjectDto:
      type: object
      properties:
        objectName:
          type: string
        fieldName:
          type: string
        _leadingFieldLabels:
          type: array
          items:
            type: string
        _leadingFieldId:
          type: string
      required:
      - objectName
      - fieldName
      - _leadingFieldId
    UpdateConfigurationUserInputsDto:
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
        owner:
          type: string
        collaborators:
          type: array
          items:
            type: string
      required:
      - tags
      - owner
      - collaborators
    CalcParsedConfigurationGptDto:
      type: object
      properties:
        metadataId:
          type: string
      required:
      - metadataId
    RoleGroupAccountRole:
      type: object
      properties:
        role:
          type: object
        roleGroupId:
          type: string
        roleGroup:
          $ref: '#/components/schemas/RoleGroup'
      required:
      - role
      - roleGroupId
      - roleGroup
    ConfigurationUserInputComment:
      type: object
      properties:
        id:
          type: string
        metadataId:
          type: string
        commentBody:
          type: string
        mentionedUserIds:
          type: array
          items:
            type: string
        properties:
          type: object
        crmOrgId:
          type: string
        crmOrg:
          $ref: '#/components/schemas/CrmOrg'
        createdById:
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
      required:
      - id
      - metadataId
      - commentBody
      - mentionedUserIds
      - properties
      - crmOrgId
      - crmOrg
      - createdById
      - createdBy
      - createdAt
      - updatedAt
    EditTagDto:
      type: object
      properties:
        name:
          type: string
        color:
          type: string
    FunnelDeployment:
      type: object
      properties:
        id:
          type: string
        crmOrgId:
          type: string
        crmOrg:
          $ref: '#/components/schemas/CrmOrg'
        snapshotId:
          type: string
        snapshot:
          $ref: '#/components/schemas/FunnelSnapshot'
        deployedById:
          type: string
        deployedBy:
          $ref: '#/components/schemas/User'
        deployedAt:
          format: date-time
          type: string
        status:
          type: object
      required:
      - id
      - crmOrgId
      - crmOrg
      - snapshotId
      - snapshot
      - deployedById
      - deployedBy
      - deployedAt
      - status
    CrmOrg:
      type: object
      properties:
        id:
          type: string
        org:
          $ref: '#/components/schemas/Org'
        name:
          type: string
        platform:
          type: string
        instanceUrl:
          type: string
        isSandbox:
          type: boolean
        isMain:
          type: boolean
        isDemo:
          type: boolean
        isConnected:
          type: object
          default: false
        createdById:
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        fetchStatus:
          enum:
          - fetching
          - initial_fetching
          - error
          - fetched
          - invalid_credentials
          type: string
        lastSuccessfulFetchTs:
          type: number
        disconnectedAt:
          format: date-time
          type:
          - string
          - 'null'
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
        accountId:
          type: string
        connectedUser:
          type: string
        account:
          $ref: '#/components/schemas/Account'
        deployments:
          type: array
          items:
            $ref: '#/components/schemas/FunnelDeployment'
        optMonitoring:
          type: boolean
        graphVersion:
          type:
          - string
          - 'null'
        graphDbReleaseChannel:
          enum:
          - stable
          - beta
          - shadow
          type:
          - string
          - 'null'
        tier:
          enum:
          - T0
          - T1
          type: string
      required:
      - id
      - org
      - name
      - platform
      - instanceUrl
      - isSandbox
      - isMain
      - isDemo
      - isConnected
      - createdById
      - createdBy
      - fetchStatus
      - lastSuccessfulFetchTs
      - disconnectedAt
      - createdAt
      - updatedAt
      - accountId
      - connectedUser
      - account
      - deployments
      - optMonitoring
      - graphVersion
      - graphDbReleaseChannel
      - tier
    Account:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        authZeroOrgId:
          type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
        deletedAt:
          format: date-time
          type: string
        onboardingStep:
          type: string
          enum:
          - ConnectOrg
          - Completed
        trialStartDate:
          format: date-time
          type: string
        trialEndDate:
          format: date-time
          type: string
        type:
          type: string
          enum:
          - Customer
          - POC
          - Inactive
          - SI
          - Free
          - Internal
        roleGroups:
          type: array
          items:
            $ref: '#/components/schemas/RoleGroup'
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
        disableAi:
          type: boolean
        isBuildModeEnabled:
          type: boolean
        lastSeen:
          format: date-time
          type: string
        allowedIpRanges:
          type:
          - array
          - 'null'
          items:
            type: string
      required:
      - id
      - name
      - authZeroOrgId
      - createdAt
      - updatedAt
      - deletedAt
      - onboardingStep
      - trialStartDate
      - trialEndDate
      - type
      - roleGroups
      - users
      - disableAi
      - isBuildModeEnabled
      - lastSeen
      - allowedIpRanges
    Org:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: string
        account:
          $ref: '#/components/schemas/Account'
      required:
      - id
      - accountId
      - account
    SweepStage:
      type: object
      properties:
        stageName:
          type: string
        _stageId:
          type: string
        stageDescription:
          type: string
        _branchIndex:
          type: number
        _stageColumnIndex:
          type: number
        exitCriteria:
          type: array
          items:
            $ref: '#/components/schemas/SweepExitCriteria'
        assignmentRules:
          type: array
          items:
            $ref: '#/components/schemas/SweepAssignmentRule'
        _team:
          type: string
        stageType:
          type: string
          enum:
          - regular
          - lost
          - nurturing
        preventBackwardStages:
          type: boolean
        funnelLinks:
          type: array
          items:
            $ref: '#/components/schemas/FunnelLinkDto'
        additionalFields:
          default: []
          type: array
          items:
            $ref: '#/components/schemas/SweepFieldReference'
      required:
      - stageName
      - _stageId
      - stageDescription
      - exitCriteria
      - assignmentRules
    DocumentationObjectDto:
      type: object
      properties:
        favorite:
          type: boolean
      required:
      - favorite
    RoleGroupOrgRole:
      type: object
      properties:
        role:
          type: object
        crmOrgId:
          type: string
        crmOrg:
          $ref: '#/components/schemas/CrmOrg'
        roleGroupId:
          type: string
        roleGroup:
          $ref: '#/components/schemas/RoleGroup'
      required:
      - role
      - crmOrgId
      - crmOrg
      - roleGroupId
      - roleGroup
    CreateTagDto:
      type: object
      properties:
        name:
          type: string
        color:
          type: string
      required:
      - name
      - color
    AiChatDto:
      type: object
      properties:
        sessionId:
          type: string
        message:
          type: string
        context:
          type: object
        isFirstMessage:
          type: boolean
      required:
      - sessionId
      - message
      - context
      - isFirstMessage
    FunnelPluginsDto:
      type: object
      properties: {}
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
