openapi: 3.2.0
info:
  title: Sweep Devops Center API
  description: This is a publicly available Sweep API.
  version: '0.1'
  contact: {}
servers:
- url: https://api.sweep.io
  description: Sweep production API — the host this document was harvested from (GET /api-json); /health responds here
tags:
- name: DevopsCenter
paths:
  /devops-center:
    get:
      operationId: DevopsCenterController_getAllElementsInEnv
      parameters:
      - name: sourceCrmOrgId
        required: true
        in: query
        schema:
          type: string
      - name: targetCrmOrgId
        required: true
        in: query
        schema:
          type: string
      - name: elementTypes
        required: true
        in: query
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      tags:
      - DevopsCenter
    post:
      operationId: DevopsCenterController_deployElementsInEnv
      parameters:
      - name: targetCrmOrgId
        required: true
        in: query
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '201':
          description: ''
      tags:
      - DevopsCenter
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
