openapi: 3.2.0
info:
  title: Sweep Roles API
  description: This is a publicly available Sweep API.
  version: '0.1'
  contact: {}
servers:
- url: https://api.sweep.io
  description: Sweep production API — the host this document was harvested from (GET /api-json); /health responds here
tags:
- name: Roles
paths:
  /roles/groups:
    get:
      operationId: RolesController_getRoleGroups
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      security:
      - bearer: []
      tags:
      - Roles
      summary: Roles controller get role groups
      x-summary-source: derived
  /roles/group:
    post:
      operationId: RolesController_createRoleGroup
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertRoleGroupDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - bearer: []
      tags:
      - Roles
      summary: Roles controller create role group
      x-summary-source: derived
  /roles/group/{id}:
    put:
      operationId: RolesController_updateRoleGroup
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertRoleGroupDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - bearer: []
      tags:
      - Roles
      summary: Roles controller update role group
      x-summary-source: derived
    delete:
      operationId: RolesController_deleteRoleGroup
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      tags:
      - Roles
      summary: Roles controller delete role group
      x-summary-source: derived
components:
  schemas:
    UpsertRoleGroupDto:
      type: object
      properties:
        name:
          type: string
        roleGroupLevels:
          type: object
        description:
          type: string
      required:
      - name
      - roleGroupLevels
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
