openapi: 3.2.0
info:
  title: Sweep Funnels Analytics API
  description: This is a publicly available Sweep API.
  version: '0.1'
  contact: {}
servers:
- url: https://api.sweep.io
  description: Sweep production API — the host this document was harvested from (GET /api-json); /health responds here
tags:
- name: FunnelsAnalytics
paths:
  /funnel-analytics:
    post:
      operationId: FunnelsAnalyticsController_getFunnelAnalytics
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFunnelAnalyticsRequestDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - bearer: []
      tags:
      - FunnelsAnalytics
components:
  schemas:
    FunnelAnalyticsPeriodDto:
      type: object
      properties:
        from:
          type: string
        to:
          type: string
      required:
      - from
      - to
    GetFunnelAnalyticsRequestDto:
      type: object
      properties:
        crmOrgId:
          type: string
        funnelIds:
          type: array
          items:
            type: string
        period:
          $ref: '#/components/schemas/FunnelAnalyticsPeriodDto'
        sources:
          type: array
          items:
            type: string
        regions:
          type: array
          items:
            type: string
        assignmentGroups:
          type: array
          items:
            type: string
      required:
      - crmOrgId
      - funnelIds
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
